.footer {
    background-color: #8c8c8c;
    padding: 1rem;
    position: relative;
}

.content {
    color: #fff;
    font-family: montserrat; 
    font-weight: bold;
}


.content a {
    margin-left: 1rem;
}

.content img {
    vertical-align: middle;
}

.social-media {
    vertical-align: middle;
    position: absolute;
    right: 3rem;
}

.social-media a {
    margin-left: 1rem;
}

@media (max-width: 650px) {
    .content a {
    margin: 0;
    display: inline-block;
    width: 60%;
    }
}