.header {
    width:100%;
    background-color:#8c8c8c;
}

.header button:first-child {
    margin-left: 0.5rem;

}

.header button {
    background: none;
	color: #fff;
	border: none;
    cursor: pointer;
	font-family: montserrat;
    font-weight: bold;
    padding: 0.5rem;
    font-size: 1.1rem;
    margin-right: 0.5rem;
}

/* .list {
    padding: 0;
    margin: 0;
}

.list-item {
    list-style-type:none;
    display: inline-block;
    margin-right: 1rem;
    padding: 0.5rem;
}

.list-item:first-child {
    margin-left: 0.5rem;
}

.list-item a {
    color:#fff;
    text-decoration: none;
    font-family: montserrat; 
    font-weight: bold;
} */
