@keyframes link-animation {
  100% {
    width: 2.9rem;
    height: 2.9rem;
  }
}

.fa {
  color: #1b2c82;
}

.fa:hover {
  animation: link-animation .5s forwards;
}


.live-link {
  position: absolute;
  right: 3.5rem;
  padding-top: 0.5rem;
}

.code-link {
  position: absolute;
  right: 0.5rem;
  padding-top: 0.5rem;
}

.name {
  display: inline-block;
  margin: 0;
}

.date {
  display: flex;
  position: absolute;
  left: 0.5rem;
  background-color: #5c8ea9;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  align-items: center;
}

.language-list {
  flex-wrap: wrap;
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-right: 1rem;
  padding-top: 2rem;
}

.language-list li {
  font-weight: bold;
  margin-left: 5px;
  text-align: center;
}

.languages-heading {
  margin-bottom: 0.2rem;
}


.img {
  /* position: absolute;
  left: 0.7rem;
  top: 4.5rem; */
  max-width: 300px;
  padding-top: 3rem;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 480px) {
  .flexContainer {
    flex-direction: column-reverse;
  }

  .language-list {
    flex-direction: row;
    justify-content: space-around;
    margin-top:1rem;
  }

  .img {
    padding-top: 1rem;
    margin: auto;
  }
}