.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffbd59;
    padding: .8rem;
    margin-top: 5rem;
}

.content p {
    display: inline-block;
    color: #1b2c82;
    font-family: montserrat; 
    font-weight: bold;
    vertical-align: middle;
}


.content a {
    margin-left: 1rem;
}

.content img {
    vertical-align: middle;
}

.social-media {
    vertical-align: middle;

}

.social-media a {
    margin-left: 1rem;
}

.social-media:last-child {
    margin-right: 2rem;
}

.social-icon {
    color: #1b2c82;
    font-size: 2rem !important;
}


@media only screen and (max-width: 480px) {
    
    .content a,
    .content p {
    margin: 0;
    display: inline-block;
    }

    .social-media {
        min-width: 135px;
    }

    .social-icon {
        margin-top: 0.8rem;
    }

}